
<div class="row">
	<div class="col-sm-12">
		<section class="tile">

		  <!-- tiule header -->
		  <div class="tile-header dvd dvd-btm">
		    <h1 class="custom-font" *ngIf="userToBeEdited.id"><strong>Edit</strong> {{userToBeEdited.name}}</h1>
		    <ul class="controls">
		        <li class="dropdown">

		            <a role="button" tabindex="0" class="dropdown-toggle settings" data-toggle="dropdown">
		                <i class="fa fa-cog"></i>
		                <i class="fa fa-spinner fa-spin"></i>
		            </a>

		            <ul class="dropdown-menu pull-right with-arrow animated littleFadeInUp">
		                <li>
		                    <a role="button" tabindex="0" class="tile-toggle">
		                        <span class="minimize"><i class="fa fa-angle-down"></i>&nbsp;&nbsp;&nbsp;Minimize</span>
		                        <span class="expand"><i class="fa fa-angle-up"></i>&nbsp;&nbsp;&nbsp;Expand</span>
		                    </a>
		                </li>
		                <li>
		                    <a role="button" tabindex="0" class="tile-fullscreen">
		                        <i class="fa fa-expand"></i> Fullscreen
		                    </a>
		                </li>
		            </ul>

		        </li>
		    </ul>
		  </div>
		  <!-- /tile header -->

		  <!-- tile body -->
		  <div class="tile-body">

		      <form *ngIf="userToBeEdited.id; else loading" class="form-horizontal" #editUserForm="ngForm" (ngSubmit)="updateUser()" role="form">

		        <div class="form-group">
		            <label for="input01" class="col-sm-2 control-label">Name</label>
		            <div class="col-sm-10">
		                <input type="text" name="name" [(ngModel)]="userToBeEdited.name" class="form-control" id="input01">
		            </div>
		        </div>

		        <hr class="line-dashed line-full"/>

		        <div class="form-group">
		            <label for="input02" class="col-sm-2 control-label">Username</label>
		            <div class="col-sm-10">
		                <input type="text" name="username" [(ngModel)]="userToBeEdited.username" class="form-control" id="input02">
		                <span class="help-block mb-0">Valid characters are A-Z a-z 0-9 . _ -. Must be between 3 and 32 characters.</span>
		            </div>
		        </div>

		        <hr class="line-dashed line-full"/>

		        <div class="form-group">
		            <label for="input03" class="col-sm-2 control-label">Email</label>
		            <div class="col-sm-10">
		                <input type="email" name="enauk" [(ngModel)]="userToBeEdited.email" class="form-control" id="input03">
		                <span class="help-block mb-0">Valid characters are A-Z a-z 0-9 . _ -. Must be between 3 and 32 characters.</span>
		            </div>
		        </div>

		        <hr class="line-dashed line-full"/>

		        <div class="row">
		        	<div class="col-sm-offset-2 col-sm-4">
	        			<label>Available Groups</label>
		        		<div class="input-group mb-10">
		        			<input type="text" placeholder="Search available groups!" name="availableGroupSearchInput"
		        				[(ngModel)]="availableGroupSearchInput" class="form-control">
		        			<span class="input-group-btn">
		        				<button class="btn btn-default" type="button"><i class="fa fa-search"></i></button>
		        			</span>
		        		</div>
		        		<div class="multi-select-window">
		        			<div *ngIf="anyGroupPresent(); else noGroupPresent">
			        			<div class="selectable" (click)="toggleChoice(group)"
			        				*ngFor="let group of groups | filterSelected: {selected: false} | filterByText: ['name', availableGroupSearchInput]">
			        				{{group.name}}
	                    <input type="checkbox" name="{{group.id}}" [(ngModel)]="group.chosen" class="pull-right">
			        			</div>
			        		</div>
			        		<ng-template #noGroupPresent>
		        				<div class="selectable" (click)="toggleChoice(group)">No Groups!</div>
		        			</ng-template>
		        		</div>
		        	</div>

		        	<div class="col-sm-2 text-center">
		        		<div class="btn-group-vertical mt-40">
				        	<button type="button" (click)="addSelectedGroup()" class="btn btn-success btn-xs mb-10"><i class="fa fa-arrow-right"></i></button>
				        	<button type="button" (click)="removeSelectedGroup()" class="btn btn-danger btn-xs"><i class="fa fa-arrow-left"></i></button>
		        		</div>
		        	</div>

		        	<div class="col-sm-4">
	        			<label>Selected Groups</label>
		        		<div class="input-group mb-10">
		        			<input type="text" placeholder="Search selected groups!" name="selectedGroupSearchInput"
		        				[(ngModel)]="selectedGroupSearchInput" class="form-control">
		        			<span class="input-group-btn">
		        				<button class="btn btn-default" type="button"><i class="fa fa-search"></i></button>
		        			</span>
		        		</div>
		        		<div class="multi-select-window">
		        			<div *ngIf="anySelectedGroups(); else noGroupFound">
			        			<div class="selectable" (click)="toggleChoice(group)"
			        				*ngFor="let group of groups | filterSelected: {selected: true} | filterByText: ['name', selectedGroupSearchInput]">
			        				{{group.name}}
	                    <input type="checkbox" name="{{group.id}}" [(ngModel)]="group.chosen" class="pull-right">
			        			</div>
			        		</div>
		        			<ng-template #noGroupFound>
		        				<div class="selectable">No Selected Groups!</div>
		        			</ng-template>
		        		</div>
		        	</div>
		        </div>

		        <hr class="line-dashed line-full"/>

		        <div class="form-group">
		            <div class="col-sm-4 col-sm-offset-2">
		                <button type="submit" class="btn btn-success">Save changes</button>
		                <a routerLink="/users" class="btn btn-lightred">Cancel</a>
		            </div>
		        </div>

		      </form>

		      <ng-template #loading>Loading...</ng-template>

		  </div>
		  <!-- /tile body -->

		</section>
	</div>
</div>
