
<div class="row">
	<div class="col-sm-12">
		<section class="tile">

		  <!-- tiule header -->
		  <div class="tile-header dvd dvd-btm">
		    <h1 class="custom-font" *ngIf="groupToBeEdited.id"><strong>Edit</strong> {{groupToBeEdited.name}}</h1>
		    <ul class="controls">
		        <li class="dropdown">

		            <a role="button" tabindex="0" class="dropdown-toggle settings" data-toggle="dropdown">
		                <i class="fa fa-cog"></i>
		                <i class="fa fa-spinner fa-spin"></i>
		            </a>

		            <ul class="dropdown-menu pull-right with-arrow animated littleFadeInUp">
		                <li>
		                    <a role="button" tabindex="0" class="tile-toggle">
		                        <span class="minimize"><i class="fa fa-angle-down"></i>&nbsp;&nbsp;&nbsp;Minimize</span>
		                        <span class="expand"><i class="fa fa-angle-up"></i>&nbsp;&nbsp;&nbsp;Expand</span>
		                    </a>
		                </li>
		               <!--  <li>
		                    <a role="button" tabindex="0" class="tile-refresh">
		                        <i class="fa fa-refresh"></i> Refresh
		                    </a>
		                </li> -->
		                <li>
		                    <a role="button" tabindex="0" class="tile-fullscreen">
		                        <i class="fa fa-expand"></i> Fullscreen
		                    </a>
		                </li>
		            </ul>

		        </li>
		        <!-- <li class="remove"><a role="button" tabindex="0" class="tile-close"><i class="fa fa-times"></i></a></li> -->
		    </ul>
		  </div>
		  <!-- /tile header -->

		  <!-- tile body -->
		  <div class="tile-body">

		      <form *ngIf="groupToBeEdited.id; else loading" class="form-horizontal" #editGroupForm="ngForm" (ngSubmit)="updateGroup()" role="form">

		        <div class="form-group">
		            <label for="input01" class="col-sm-2 control-label">Name</label>
		            <div class="col-sm-10">
		                <input type="text" name="name" [(ngModel)]="groupToBeEdited.name" class="form-control" id="input01">
		            </div>
		        </div>

		        <hr class="line-dashed line-full"/>

		        <div class="row">
		        	<div class="col-sm-offset-2 col-sm-4">
	        			<label>Available Dashboards</label>
		        		<div class="input-group mb-10">
		        			<input type="text" placeholder="Search available dashboards!" name="availableDashboardSearchInput"
		        				[(ngModel)]="availableDashboardSearchInput" class="form-control">
		        			<span class="input-group-btn">
		        				<button class="btn btn-default" type="button"><i class="fa fa-search"></i></button>
		        			</span>
		        		</div>
		        		<div class="multi-select-window">
		        			<div *ngIf="anyDashboardPresent(); else noDashboardPresent">
			        			<div class="selectable" (click)="toggleChoice(dashboard)"
			        				*ngFor="let dashboard of dashboards | filterSelected: {selected: false} | filterByText: ['name', availableDashboardSearchInput]">
			        				{{dashboard.name}}
	                    <input type="checkbox" name="{{dashboard.id}}" [(ngModel)]="dashboard.chosen" class="pull-right">
			        			</div>
			        		</div>
			        		<ng-template #noDashboardPresent>
		        				<div class="selectable" (click)="toggleChoice(dashboard)">No Dashboards!</div>
		        			</ng-template>
		        		</div>
		        	</div>

		        	<div class="col-sm-2 text-center">
		        		<div class="btn-group-vertical mt-40">
				        	<button type="button" (click)="addSelectedDashboard()" class="btn btn-success btn-xs mb-10"><i class="fa fa-arrow-right"></i></button>
				        	<button type="button" (click)="removeSelectedDashboard()" class="btn btn-danger btn-xs"><i class="fa fa-arrow-left"></i></button>
		        		</div>
		        	</div>

		        	<div class="col-sm-4">
	        			<label>Selected Dashboards</label>
		        		<div class="input-group mb-10">
		        			<input type="text" placeholder="Search selected dashboards!" name="selectedDashboardSearchInput"
		        				[(ngModel)]="selectedDashboardSearchInput" class="form-control">
		        			<span class="input-group-btn">
		        				<button class="btn btn-default" type="button"><i class="fa fa-search"></i></button>
		        			</span>
		        		</div>
		        		<div class="multi-select-window">
		        			<div *ngIf="anySelectedDashboards(); else noDashboardFound">
			        			<div class="selectable" (click)="toggleChoice(dashboard)"
			        				*ngFor="let dashboard of dashboards | filterSelected: {selected: true} | filterByText: ['name', selectedDashboardSearchInput]">
			        				{{dashboard.name}}
	                    <input type="checkbox" name="{{dashboard.id}}" [(ngModel)]="dashboard.chosen" class="pull-right">
			        			</div>
			        		</div>
		        			<ng-template #noDashboardFound>
		        				<div class="selectable">No Selected Dashboards!</div>
		        			</ng-template>
		        		</div>
		        	</div>
		        </div>

		        <hr class="line-dashed line-full"/>

		        <div class="form-group">
		            <div class="col-sm-4 col-sm-offset-2">
		                <button type="submit" class="btn btn-success">Save changes</button>
		                <a routerLink="/groups" class="btn btn-lightred">Cancel</a>
		            </div>
		        </div>

		      </form>

		      <ng-template #loading>Loading...</ng-template>

		  </div>
		  <!-- /tile body -->

		</section>
	</div>
</div>
