
<div class="row">
	<div class="col-sm-12">
		<section class="tile">

		  <!-- tiule header -->
		  <div class="tile-header dvd dvd-btm">
		    <h1 class="custom-font"><strong>New</strong> Group</h1>
		    <ul class="controls">
		        <li class="dropdown">

		            <a role="button" tabindex="0" class="dropdown-toggle settings" data-toggle="dropdown">
		                <i class="fa fa-cog"></i>
		                <i class="fa fa-spinner fa-spin"></i>
		            </a>

		            <ul class="dropdown-menu pull-right with-arrow animated littleFadeInUp">
		                <li>
		                    <a role="button" tabindex="0" class="tile-toggle">
		                        <span class="minimize"><i class="fa fa-angle-down"></i>&nbsp;&nbsp;&nbsp;Minimize</span>
		                        <span class="expand"><i class="fa fa-angle-up"></i>&nbsp;&nbsp;&nbsp;Expand</span>
		                    </a>
		                </li>
		               <!--  <li>
		                    <a role="button" tabindex="0" class="tile-refresh">
		                        <i class="fa fa-refresh"></i> Refresh
		                    </a>
		                </li> -->
		                <li>
		                    <a role="button" tabindex="0" class="tile-fullscreen">
		                        <i class="fa fa-expand"></i> Fullscreen
		                    </a>
		                </li>
		            </ul>

		        </li>
		        <!-- <li class="remove"><a role="button" tabindex="0" class="tile-close"><i class="fa fa-times"></i></a></li> -->
		    </ul>
		  </div>
		  <!-- /tile header -->

		  <!-- tile body -->
		  <div class="tile-body">

		      <form class="form-horizontal" #newGroupForm="ngForm" (ngSubmit)="saveGroup()" role="form">

		        <div class="form-group">
		            <label for="input01" class="col-sm-2 control-label">Name</label>
		            <div class="col-sm-10">
		                <input type="text" name="name" [(ngModel)]="newGroup.name" class="form-control" id="input01">
		            </div>
		        </div>

		        <hr class="line-dashed line-full"/>

		        <div class="form-group">
		            <div class="col-sm-4 col-sm-offset-2">
		                <button type="submit" class="btn btn-success">Save changes</button>
		                <a routerLink="/groups" class="btn btn-lightred">Cancel</a>
		            </div>
		        </div>

		      </form>

		  </div>
		  <!-- /tile body -->

		</section>
	</div>
</div>
