<div class="row">
	<div class="col-md-12 col-sm-1">
		<a [routerLink]="['/users/edit/', user.id]" class="btn btn-primary pull-right mb-20">Edit User</a>
		<a [routerLink]="['/users']" class="btn btn-default pull-right mb-20 mr-10">Back</a>
	</div>
</div>

<div class="row">
	<div class="col-sm-12">
		<section class="tile">

		    <!-- tile header -->
		    <div class="tile-header dvd dvd-btm">
		        <h1 *ngIf="user" class="custom-font">
		        	<strong>{{user.name}}</strong>
		        	- {{user.username}}
		        </h1>
		        <ul class="controls">
		            <li class="dropdown">

		                <a role="button" tabindex="0" class="dropdown-toggle settings" data-toggle="dropdown">
		                    <i class="fa fa-cog"></i>
		                    <i class="fa fa-spinner fa-spin"></i>
		                </a>

		                <ul class="dropdown-menu pull-right with-arrow animated littleFadeInUp">
		                    <li>
		                        <a role="button" tabindex="0" class="tile-toggle">
		                            <span class="minimize"><i class="fa fa-angle-down"></i>&nbsp;&nbsp;&nbsp;Minimize</span>
		                            <span class="expand"><i class="fa fa-angle-up"></i>&nbsp;&nbsp;&nbsp;Expand</span>
		                        </a>
		                    </li>
		                    <li>
		                        <a role="button" tabindex="0" class="tile-fullscreen">
		                            <i class="fa fa-expand"></i> Fullscreen
		                        </a>
		                    </li>
		                </ul>

		            </li>
		        </ul>
		    </div>
		    <!-- /tile header -->

		    <!-- tile body -->
		    <div class="tile-body">
		    	<dl *ngIf="user.id; else loading" class="dl-horizontal">
		        <dt>ID</dt>
		        <dd>{{user.id}}</dd>
		        <dt>Name</dt>
		        <dd>{{user.name}}</dd>
		        <dt>Username</dt>
		        <dd>{{user.username}}</dd>
		        <dt>Email</dt>
		        <dd>{{user.email}}</dd>
		        <dt>Updated At</dt>
		        <dd>{{user.updatedAt | date:'medium'}}</dd>
		        <dt>Created At</dt>
		        <dd>{{user.createdAt | date:'medium'}}</dd>
			    </dl>
			    <ng-template #loading>Loading...</ng-template>
		    </div>
		    <!-- /tile body -->

	  </section>
  </div>
</div>

<div class="row">
	<div class="col-sm-12">
		<section class="tile">

		    <!-- tile header -->
		    <div class="tile-header dvd dvd-btm">
		        <h1 class="custom-font"><strong>List</strong> of Groups</h1>
		        <ul class="controls">
		            <li class="dropdown">

		                <a role="button" tabindex="0" class="dropdown-toggle settings" data-toggle="dropdown">
		                    <i class="fa fa-cog"></i>
		                    <i class="fa fa-spinner fa-spin"></i>
		                </a>

		                <ul class="dropdown-menu pull-right with-arrow animated littleFadeInUp">
		                    <li>
		                        <a role="button" tabindex="0" class="tile-toggle">
		                            <span class="minimize"><i class="fa fa-angle-down"></i>&nbsp;&nbsp;&nbsp;Minimize</span>
		                            <span class="expand"><i class="fa fa-angle-up"></i>&nbsp;&nbsp;&nbsp;Expand</span>
		                        </a>
		                    </li>
		                    <li>
		                        <a role="button" tabindex="0" class="tile-fullscreen">
		                            <i class="fa fa-expand"></i> Fullscreen
		                        </a>
		                    </li>
		                </ul>

		            </li>
		        </ul>
		    </div>
		    <!-- /tile header -->

		    <!-- tile body -->
	        <div class="tile-body p-0">

	            <table *ngIf="user.id; else loadingGroups" class="table">
	                <thead>
	                <tr>
	                    <th>#</th>
	                    <th>Name</th>
	                    <th>Updated At</th>
	                    <th>Created At</th>
	                </tr>
	                </thead>
	                <tbody>
		                <tr *ngFor="let group of user.groups; index as i">
	                    <td [routerLink]="['/groups/', group.id ]">{{i + 1}}</td>
	                    <td [routerLink]="['/groups/', group.id ]">{{group.name}}</td>
	                    <td [routerLink]="['/groups/', group.id ]">{{group.updatedAt | date:'medium'}}</td>
	                    <td [routerLink]="['/groups/', group.id ]">{{group.createdAt | date:'medium'}}</td>
		                </tr>
	                </tbody>
	            </table>

	            <ng-template #loadingGroups>Loading...</ng-template>

	        </div>
	        <!-- /tile body -->

	  </section>
  </div>
</div>

