<div class="row">
	<div class="col-md-12 col-sm-1">
		<a routerLink="/groups/new" class="btn btn-default pull-right mb-20">New Group</a>
	</div>
</div>

<div class="row">
	<!-- col -->
	<div class="col-md-12 col-sm-1">



	    <!-- tile -->
	    <section class="tile">

	        <!-- tile header -->
	        <div class="tile-header dvd dvd-btm">
	            <h1 class="custom-font"><strong>List</strong> of Groups</h1>
	            <ul class="controls">
	                <li class="dropdown">

	                    <a role="button" tabindex="0" class="dropdown-toggle settings" data-toggle="dropdown">
	                        <i class="fa fa-cog"></i>
	                        <i class="fa fa-spinner fa-spin"></i>
	                    </a>

	                    <ul class="dropdown-menu pull-right with-arrow animated littleFadeInUp">
	                        <li>
	                            <a role="button" tabindex="0" class="tile-toggle">
	                                <span class="minimize"><i class="fa fa-angle-down"></i>&nbsp;&nbsp;&nbsp;Minimize</span>
	                                <span class="expand"><i class="fa fa-angle-up"></i>&nbsp;&nbsp;&nbsp;Expand</span>
	                            </a>
	                        </li>
	                        <li>
	                            <a role="button" tabindex="0" class="tile-fullscreen">
	                                <i class="fa fa-expand"></i> Fullscreen
	                            </a>
	                        </li>
	                    </ul>

	                </li>
	            </ul>
	        </div>
	        <!-- /tile header -->

	        <!-- tile body -->
	        <div class="tile-body p-0">

	            <table class="table">
	                <thead>
	                <tr>
	                    <th>#</th>
	                    <th>Name</th>
	                    <th>Users</th>
	                    <th>Dashboards</th>
	                    <th>Updated At</th>
	                    <th>Created At</th>
	                    <th>Actions</th>
	                </tr>
	                </thead>
	                <tbody>
		                <tr *ngFor="let group of groups; index as i">
	                    <td [routerLink]="['/groups/', group.id ]">{{i + 1}}</td>
	                    <td [routerLink]="['/groups/', group.id ]">{{group.name}}</td>
	                    <td [routerLink]="['/groups/', group.id ]">{{group.users.length}}</td>
	                    <td [routerLink]="['/groups/', group.id ]">{{group.dashboards.length}}</td>
	                    <td [routerLink]="['/groups/', group.id ]">{{group.updatedAt | date:'medium'}}</td>
	                    <td [routerLink]="['/groups/', group.id ]">{{group.createdAt | date:'medium'}}</td>
	                  	<td>
	                  		<a [routerLink]="['/groups/edit/', group.id]" class="btn btn-primary btn-sm">Edit</a>
	                  		<button type="button" (click)="deleteGroup(group)" class="btn btn-danger btn-sm">Delete</button>
	                  	</td>
		                </tr>
	                </tbody>
	            </table>

	        </div>
	        <!-- /tile body -->

	    </section>
	    <!-- /tile -->

	</div>
	<!-- /col -->
</div>
