<div class="row">
	<div *ngIf="group | async" class="col-md-12 col-sm-1">
		<a (click)="goToGroupEdit(group?.id)" class="btn btn-primary pull-right mb-20">Edit Group</a>
		<a routerLink="/groups" class="btn btn-default pull-right mb-20 mr-10">Back</a>
	</div>
</div>


<div class="row">
	<div class="col-sm-12">
		<section class="tile">

		    <!-- tile header -->
		    <div class="tile-header dvd dvd-btm">
		        <h1 class="custom-font">
		        	<strong>{{(group | async)?.name}}</strong>
		        </h1>
		        <ul class="controls">
		            <li class="dropdown">

		                <a role="button" tabindex="0" class="dropdown-toggle settings" data-toggle="dropdown">
		                    <i class="fa fa-cog"></i>
		                    <i class="fa fa-spinner fa-spin"></i>
		                </a>

		                <ul class="dropdown-menu pull-right with-arrow animated littleFadeInUp">
		                    <li>
		                        <a role="button" tabindex="0" class="tile-toggle">
		                            <span class="minimize"><i class="fa fa-angle-down"></i>&nbsp;&nbsp;&nbsp;Minimize</span>
		                            <span class="expand"><i class="fa fa-angle-up"></i>&nbsp;&nbsp;&nbsp;Expand</span>
		                        </a>
		                    </li>
		                    <li>
		                        <a role="button" tabindex="0" class="tile-fullscreen">
		                            <i class="fa fa-expand"></i> Fullscreen
		                        </a>
		                    </li>
		                </ul>

		            </li>
		        </ul>
		    </div>
		    <!-- /tile header -->

		    <!-- tile body -->
		    <div class="tile-body">
		    	<dl *ngIf="group | async; else loading" class="dl-horizontal">
		        <dt>ID</dt>
		        <dd>{{(group | async)?.id}}</dd>
		        <dt>Name</dt>
		        <dd>{{(group | async)?.name}}</dd>
		        <dt>Updated At</dt>
		        <dd>{{(group | async)?.updatedAt | date:'medium'}}</dd>
		        <dt>Created At</dt>
		        <dd>{{(group | async)?.createdAt | date:'medium'}}</dd>
			    </dl>
			    <ng-template #loading>Loading...</ng-template>
		    </div>
		    <!-- /tile body -->

	  </section>
  </div>
</div>

<div class="row">
	<!-- col -->
	<div class="col-md-12 col-sm-1">
	    <!-- tile -->
	    <section class="tile">

	        <!-- tile header -->
	        <div class="tile-header dvd dvd-btm">
	            <h1 class="custom-font"><strong>List</strong> of Users</h1>
	            <ul class="controls">
	                <li class="dropdown">

	                    <a role="button" tabindex="0" class="dropdown-toggle settings" data-toggle="dropdown">
	                        <i class="fa fa-cog"></i>
	                        <i class="fa fa-spinner fa-spin"></i>
	                    </a>

	                    <ul class="dropdown-menu pull-right with-arrow animated littleFadeInUp">
	                        <li>
	                            <a role="button" tabindex="0" class="tile-toggle">
	                                <span class="minimize"><i class="fa fa-angle-down"></i>&nbsp;&nbsp;&nbsp;Minimize</span>
	                                <span class="expand"><i class="fa fa-angle-up"></i>&nbsp;&nbsp;&nbsp;Expand</span>
	                            </a>
	                        </li>
	                        <li>
	                            <a role="button" tabindex="0" class="tile-fullscreen">
	                                <i class="fa fa-expand"></i> Fullscreen
	                            </a>
	                        </li>
	                    </ul>

	                </li>
	            </ul>
	        </div>
	        <!-- /tile header -->

	        <!-- tile body -->
	        <div class="tile-body p-0">

            <table *ngIf="group | async; else loadingUsers" class="table">
                <thead>
                <tr>
                  <th>#</th>
                  <th>Name</th>
                  <th>Email</th>
                  <th>Username</th>
                  <th>Updated At</th>
                  <th>Created At</th>
                </tr>
                </thead>
                <tbody>
	                <tr *ngFor="let user of (group | async)?.users; index as i">
                    <td [routerLink]="['/users/', user.id ]">{{i + 1}}</td>
                    <td [routerLink]="['/users/', user.id ]">{{user.name}}</td>
                    <td [routerLink]="['/users/', user.id ]">{{user.email}}</td>
                    <td [routerLink]="['/users/', user.id ]">{{user.username}}</td>
                    <td [routerLink]="['/users/', user.id ]">{{user.updatedAt | date:'medium'}}</td>
                    <td [routerLink]="['/users/', user.id ]">{{user.createdAt | date:'medium'}}</td>
	                </tr>
                </tbody>
            </table>

            <ng-template #loadingUsers>Loading...</ng-template>

	        </div>
	        <!-- /tile body -->

	    </section>
	    <!-- /tile -->

	</div>
	<!-- /col -->
</div>
