/* You can add global styles to this file, and also import other style files */

[ng-reflect-router-link] {
	cursor: pointer;
}

.multi-select-window {
	border-radius: 2px;
  border: 1px solid #dbe0e2;
}

.multi-select-window .selectable {
	padding: 10px;
	cursor: pointer;
}

.multi-select-window .selectable:not(:last-child) {
	border-bottom: 1px solid #dbe0e2;
}
